<ng-include src="'templates/header.html'"></ng-include>
<ion-view class="dashboard">
    <div class="bar bar-subheader">
        <div class="image-container">
            <img src="images/user_pic.png">
        </div>

        <h4>
            Claudia Hopkins
        </h4>
        <div class="depertment">
            Senior Associate
        </div>
    </div>

    <ion-content  class="has-header has-subheader">
        <div class="item item-divider">
            <span>PROJECTS</span>

            <a class="view-all">VIEW ALL</a>
        </div>

        <ion-list>
            <a class="item" href="#">
                <div class="image-text-container">
                    <img src="images/tandh.png">
                    <div>
                        T&H
                    </div>
                </div>

                <div class="text-container">
                    <h2>Project Namen 01</h2>
                    <p>Skill : RWD/ HTML5/ CSS3/ Angular</p>
                </div>
                
                <div class="date-container">
                    <div class='month'>
                        April
                    </div>
                    
                    <div class='date'>
                        22
                    </div>
                    
                     <div class='year'>
                        2016
                    </div>
                </div>

            </a>
            <a class="item" href="#">
                
                <div class="image-text-container">
                   <img src="images/insurance.png">
                    <div>
                       Insurance
                    </div>
                </div>

                <div class="text-container">
                    <h2>Project Namen 01</h2>
                    <p>Skill : RWD/ HTML5/ CSS3/ Angular</p>
                </div>
                 <div class="date-container">
                    <div class='month'>
                        April
                    </div>
                    
                    <div class='date'>
                        22
                    </div>
                    
                     <div class='year'>
                        2016
                    </div>
                </div>
                
                
            </a>

            <a class="item" href="#">
                <div class="image-text-container">
                    <img src="images/bfs.png">
                    <div>
                        BFS
                    </div>
                </div>

                <div class="text-container">
                  <h2>Project Namen 03</h2>
                  <p>Skill : RWD/ HTML5/ CSS3/ Angular</p>
                </div>
                 <div class="date-container">
                    <div class='month'>
                        April
                    </div>
                    
                    <div class='date'>
                        22
                    </div>
                    
                     <div class='year'>
                        2016
                    </div>
                </div>
            </a>

        </ion-list>

        <div class="item item-divider">
            <span>USERS</span>

            <a class="view-all">VIEW ALL</a>
        </div>

        <ion-list class='user-list-parent'>
            <a class="item" href="#">
                <div class="image-text-container">
                    <img src="images/profile_1.png">
                </div>

                <div class="text-container">
                  <h2>Caleb Hale</h2>
                  <p>Associate - Projects</p>
                  <p>Skill: RWD/ Angular/ HTML5/ CSS3</p>
                  
                </div>
                 <div class="date-container user-status user-status-danger">
                    <div class='month'>
                        PDP
                    </div>
                    
                    <div class='date'>
                        12
                    </div>
                    
                     <div class='year'>
                        Days
                    </div>
                </div>
            </a>
            <a class="item" href="#">
                <div class="image-text-container">
                    <img src="images/profile_2.png">
                </div>

                <div class="text-container">
                  <h2>Jill Horton</h2>
                  <p>Associate - Projects</p>
                  <p>Skill: RWD/ Angular/ HTML5/ CSS3</p>
                  
                </div>
                 <div class="date-container user-status user-status-normal">
                    <div class='month'>
                        PDP
                    </div>
                    
                    <div class='date'>
                        12
                    </div>
                    
                     <div class='year'>
                        Days
                    </div>
                </div>
            </a>
            <a class="item" href="#">
                <div class="image-text-container">
                    <img src="images/profile_3.png">
                </div>

                <div class="text-container">
                  <h2>Alex Peterson</h2>
                  <p>Programmer Analyst</p>
                  <p>Skill: RWD/ Angular/ HTML5/ CSS3</p>
                  
                </div>
                 <div class="date-container user-status user-status-medium">
                    <div class='month'>
                        PDP
                    </div>
                    
                    <div class='date'>
                        12
                    </div>
                    
                     <div class='year'>
                        Days
                    </div>
                </div>
            </a>
    
        </ion-list>
    </ion-content>

</ion-view>