<ng-include src="'templates/header.html'"></ng-include>
<ion-view class="dashboard">
    <div class="bar bar-subheader">
        <div class="image-container">
            <img src="images/user_pic.png">
        </div>

        <h4>
            Claudia Hopkins
        </h4>
        <div class="depertment">
            Senior Associate
        </div>
    </div>

    <ion-content  class="has-header has-subheader">
        <div class="item item-divider">
            <span>PROJECTS</span>

            <a class="view-all">VIEW ALL</a>
        </div>

        <ion-list>
            <a class="item" href="#">
                <div class="image-text-container">
                    <img src="images/tandh.png">
                    <div>
                        T&H
                    </div>
                </div>

                <div class="text-container">
                    <h2>Project Namen 01</h2>
                    <p>Skill : RWD/ HTML5/ CSS3/ Angular</p>
                </div>
                
                <div class="date-container">
                    <div class='month'>
                        April
                    </div>
                    
                    <div class='date'>
                        22
                    </div>
                    
                     <div class='year'>
                        2016
                    </div>
                </div>

            </a>
            <a class="item" href="#">
                
                <div class="image-text-container">
                   <img src="images/insurance.png">
                    <div>
                       Insurance
                    </div>
                </div>

                <div class="text-container">
                    <h2>Project Namen 01</h2>
                    <p>Skill : RWD/ HTML5/ CSS3/ Angular</p>
                </div>
                 <div class="date-container">
                    <div class='month'>
                        April
                    </div>
                    
                    <div class='date'>
                        22
                    </div>
                    
                     <div class='year'>
                        2016
                    </div>
                </div>
                
                
            </a>

            <a class="item" href="#">
                <div class="image-text-container">
                    <img src="images/bfs.png">
                    <div>
                        BFS
                    </div>
                </div>

                <div class="text-container">
                  <h2>Project Namen 03</h2>
                  <p>Skill : RWD/ HTML5/ CSS3/ Angular</p>
                </div>
                 <div class="date-container">
                    <div class='month'>
                        April
                    </div>
                    
                    <div class='date'>
                        22
                    </div>
                    
                     <div class='year'>
                        2016
                    </div>
                </div>
            </a>

        </ion-list>

        <div class="item item-divider">
            <span>USERS</span>

            <a class="view-all">VIEW ALL</a>
        </div>

        <ion-list>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>

        </ion-list>
    </ion-content>

</ion-view>