<ion-view>

    <ion-content class="promotional background-app">

        <div class="promotional-content padding">

            <div class="img-slider-content">
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide>

                        <div class="img-container">
                            <img src="images/notes_icon.png">
                        </div>
                        <h3> Keep Track of your tasks</h3>

                        <p>
                            Never miss an appointment, never forget about your
                            daily team meeting and remember when your favorite
                            team is playing
                        </p>
                    </ion-slide>

                    <ion-slide>
                        <img src="images/notes_icon.png">
                        <div class="descrp"> Get your nearest salons.</div>
                    </ion-slide>

                    <ion-slide>
                        <img src="images/notes_icon.png">
                        <div class="descrp">Find salons on the map.</div>
                    </ion-slide>

                    <ion-slide>
                        <img src="images/notes_icon.png">
                        <div class="descrp">Choose services & book appointment.</div>
                    </ion-slide>

                    <ion-slide>
                        <img src="images/notes_icon.png">
                        <div class="descrp">Check your booking history.</div>
                    </ion-slide>

                </ion-slide-box>
            </div>
        </div>

    </ion-content>

</ion-view>